/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,600&display=swap");

body {
     background-color: blanchedalmond;
     color: black;
}

h1 {
     color: blue;
     font-size: 8vw;
     margin-bottom: 0%;
}

h3 {
     color: blue;
     font-size: 4vw;
     margin: 1% 0 5%;
}

h5 {
     font-size: 2.5vw;
     margin: 1% 0 5%;
}

p {
     padding: 0%;
}

img {
     padding: 0;
}

.toggle-btn {
     padding: 0.35rem;
     background-color: darkslategray;
     color: rgb(180, 180, 44);
}
.dark-mode {
     background-color: rgb(51, 49, 49);
     color: white;
}

.kids {
     display: inline;
     width: 32%;
     margin: 0;
     padding: 0;
}

.family-img {
     padding: 0;
}

.parent-column {
     display: static;
     padding: 0;
}

.parent-row {
     padding: 0.5rem;
     margin: 0;
}

#kids-top-row {
     width: 100%;
     margin: 5rem 0.25rem 0.25rem 0.25rem;
     padding: 0.25rem;
     display: inline-block;
}

#kids-bottom-row {
     width: 100%;
     margin: 0 0.25rem 0.25rem 0.25rem;
     padding: 0;
     display: inline-block;
}

#header-text {
     margin: 1vw;
     text-align: center;
     font-family: "Ubuntu", sans-serif;
}

#parent {
     margin: 0;
     padding: 0;
}

#dark-mode {
     padding-left: 2rem;
     margin-left: 2rem;
}
