* {
     box-sizing: border-box;
}

html {
     margin: 0 2vw;
     background-color: black;
}

body {
     background-color: black;
}

#pageHeader {
}

.flex-container {
     display: flex;
     flex-wrap: wrap;
     text-align: center;
}

.flex-item-left {
     padding: 10px;
     flex: 50%;
}

.flex-item-right {
     padding: 10px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
     .flex-item-right,
     .flex-item-left {
          flex: 100%;
     }
}
