@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

* {
    box-sizing: border-box;
}


img {
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}




html {
    margin: 0 1vw;
    background-color: black;
}

body {
    background-color:black;
    width: 90vw;
}


h1 {
    color: rgb(56, 65, 71);
    font-family: 'Roboto', sans-serif;
    /* margin-top: 50px; */
    margin-right: auto;
}

#aboutMe {
    font-size: 200px;
    font-family: 'Roboto', sans-serif;
    color: rgb(56, 65, 71);
    text-align: center;
}


ul {
    font-family: 'Grechen Fuemen', cursive;
    font-size: 100px;
    color:rgb(56, 65, 71);
    padding: 80px;
    text-align: left;
}


    
/* .flex-container {
    flex-wrap: wrap;
    text-align: relative; */
/* } */
    
    

#headertext {
    background-color: black;
    padding: 50px;
    flex: 50%;
}

#headerphoto {
    width: 20vw;
    padding: 50px;
}

    

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}
  

    


    

